body {
  background-color: #ba9d62;
  font-family: "Montserrat", sans-serif;
}

.App {
  background-color: white;
  min-height: 80vh;
  width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul,
li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

img {
  border-radius: 5%;
}

h1, input {
  color: #3c3c31;
}

button {
  padding: 10px;
  border: none;
  width: 80%;
  color: white;
  font-size: 16px;
}

.add {
  background: #ba9d62;
  margin-top: 10px;
}

.delete {
  background: #3c3c31;
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
}